<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Buddha Sasana</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <script src="../bootstrap/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="../styles/main.css" />
    <script src="../js/main.js"></script>
    <meta
      http-equiv="refresh"
      content="5; URL='https://www.buddhasasana.com.br/'"
    />
  </head>
  <body>
    <main class="not-found-404">
      <h1>404</h1>
      <h3>Página não encontrada</h3>
      <p>
        Infelizmente não conseguimos encontrar a página que você estava
        procurando.
      </p>
      <p>Você será redirecionado para a página inicial em segundos.</p>
      <a href="https://www.buddhasasana.com.br/"
        >Se você não for redirecionado, clique aqui.</a
      >
    </main>
  </body>
</html>
