<nav class="navbar navbar-default" style="height: 100px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#menu-responsivo"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img
          class="brand-image"
          src="img/dharma_wheel.png"
          height="80px"
          style="float: left"
          alt="Dhammachakka"
        />
        <span class="brand-name" style="padding: 20px">Buddha Sasana</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menu-responsivo">
      <ul class="nav navbar-nav">
        
        <li id="menu_sala_estudos">
          <a href="javascript:loadContent('sala_estudos.html')">Estudos</a>
        </li>
        <li id="menu_sutta_pitaka">
          <a href="javascript:loadContent('sutta_pitaka.html')">Sutta Pitaka</a>
        </li>
        <li id="menu_indice">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Indice<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:loadContent('sutta/indice_suttas.html')"
                >Indice Suttas</a
              >
            </li>
            <li>
              <a
                href="javascript:loadContent('arquivo_textos_theravada/indice_textos.html')"
                >Indice Textos</a
              >
            </li>
          </ul>
        </li>
        <li id="menu_material">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Materiais<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:loadContent('livros.html')">Livros</a></li>
            <li>
              <a href="javascript:loadContent('audiobook.html')">Audiobook</a>
            </li>
            <li>
              <a href="javascript:loadContent('podcast.html')">Podcast</a>
            </li>
          </ul>
          <li id="menu_sutta_pitaka">
            <a href="javascript:loadContent('dhp_indice.html')">Dhammapada</a>
          </li>
          <li id="menu_sala_estudos">
          <a href="https://us5.list-manage.com/contact-form?u=f26a37837fa4d71c2492ea3c9&form_id=8c9928cb28824b0cd90ee39a09dfea02">Voluntarie-se</a>
        </li>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
